/*VARIABLES*/
/*HERO SECTION*/
header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.905)), url(../assets/banner.jfif);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; }
  header nav {
    background-color: transparent; }
  header .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%; }
    header .hero__title {
      color: #fff;
      font-size: 70px; }
    header .hero__subtitle {
      color: #6e6e6e; }

/*ABOUT SECTION*/
.about {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px; }
  .about hr {
    color: #198f89;
    width: 10%;
    height: 2px;
    align-self: center; }
  .about__info {
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .about__paragraph {
    color: #6e6e6e;
    font-size: 24px;
    padding-top: 20px;
    width: 48%; }
  .about__title {
    color: #198f89;
    font-weight: 700;
    font-size: 50px;
    align-self: center;
    padding-top: 40px; }
  .about__img {
    width: 40%;
    height: 500px; }
    .about__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

/* FOOD SECTION*/
.food {
  background: #198f89;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 10px; }
  .food hr {
    color: #ffff;
    width: 15%;
    height: 2px;
    margin-bottom: 100px; }
  .food__title {
    color: #ffff;
    font-weight: 700;
    font-size: 50px;
    align-self: center; }
  .food__card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%; }
  .food__card {
    width: 30%;
    background: #fcfcfc;
    box-shadow: 5px 5px 5px 0px rgba(110, 110, 110, 0.75);
    transition: 2s; }
    .food__card:hover {
      transform: scale(1.05); }
  .food img {
    width: 100%;
    height: 300px;
    object-fit: cover; }
  .food__card__content {
    padding: 20px;
    display: flex;
    flex-direction: column; }
    .food__card__content b {
      align-self: flex-end;
      font-size: 20px; }
  .food__card__paragraph {
    color: #6e6e6e;
    padding: 15px 0px; }
  .food__card__button {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px; }

/*FOOTER SECTION*/
footer {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee; }
  footer h4 {
    color: #198f89; }
